@charset "ISO-8859-1";
body
{
	background-color: #e2e2e2;
}
.mycard
{
	background-color: white;
	padding: 20px
}
.login
{
	margin-left: 30%;
	margin-top: 10%;
	margin-right: 30%;
	border-style: solid;
	padding: 10px;
}
